<div class="message">
  Message #<%= message.id %>
  <div class="message-content">
    StartX: <%= message.startX %>
    StartY: <%= message.startY %>
    EndX: <%= message.endX %>
    EndY: <%= message.endY %>
    <br/><br/>
  </div>
</div>
